.main{
    flex: 1;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Abel', sans-serif;
}
.register{
    margin-top: 50px;
    margin-bottom: 50px;
}
